body {
    margin: 0;
    padding: 0;
    background-color: rgba(96, 117, 103, 0.226);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
    main {
        width: 1006px;
        height: 1006px;
        background-color: rgb(245, 241, 236);
        border-style: ridge;
        border-color: rgb(0, 0, 0);
        position: relative;
        max-width: 1006px;
        max-height: 1006px;
    }
        header {
            height: 250px;
            width: 1006px;
            background-color: rgb(139, 161, 161);
            border-bottom:ridge;
            border-color: rgb(0, 0, 0);
                /*border-bottom: groove;
                border-color: rgb(0, 0, 0);*/
                /*margin-left: 100px;*/
        }       
        .namnBox {
            height: 175px;
            width:650px;
            position:absolute;
            z-index:2;
            left: 355px;
            top: 30px;
            font-variant: small-caps;
            font-family: "Audiowide", sans-serif;
            
                #yrke {
                    font-size: 25px;
                    font-weight:lighter;
                    text-align: center;
                    letter-spacing: 10px;
                    margin-block-start: -40px;
                }
                #namn {
                    font-size: 50px;
                    font-weight: bolder;
                    letter-spacing: -2px;
                }
        }   
            img {
                /*border-style: ridge;
                border-color: rgb(49, 80, 80);*/
                margin-top: 6px;
                margin-left: 56px;
                border-radius: 50%;
                border:ridge;
                box-shadow: -5px 5px 1px 0px black;
                border-color: rgb(0, 0, 0);
            }
        #headerLine {
            height: 10px;
            width: 1006px;
            /*border-style: ridge;*/
            border-bottom:ridge; 
            border-color: rgb(0, 0, 0);
            background-color: rgb(31, 41, 41);
        }
        aside {
            height: 727px;
            width: 350px;
            border-right:ridge;
            border-color: rgb(0, 0, 0);
            background-color: rgb(105, 126, 126);
            text-align: left;
        }
            #kontaktInfoBoxTop {
                height: 40px;
                width: 350px;
                position: absolute;
                top: 266px;
                border-bottom: ridge;
                border-color: rgb(0, 0, 0);
                background-color: rgb(115, 117, 116);
                
                
            }
            #kontaktInfoBoxBot {
                
                height: 209.3px;
                width: 350px;
                position: absolute;
                top: 308px;
                border-bottom: ridge;
                border-color: rgb(0, 0, 0);

              
                
                
            }
            #utbildningBoxTop {
                height: 40px;
                width: 350px;
                position: absolute;
                top: 520px;
                border-bottom: ridge;
                border-color: rgb(0, 0, 0);
                background-color: rgb(115, 117, 116);
                
                
            }
            #utbildningBoxBot {
                height: 209.3px;
                width: 350px;
                position: absolute;
                top: 562px;
                border-bottom: ridge;
                border-color: rgb(0, 0, 0);
            }
            #licenserBoxTop {
                height: 40px;
                width: 350px;
                position: absolute;
                top: 774px;
                border-bottom: ridge;
                border-color: rgb(0, 0, 0);
                background-color: rgb(115, 117, 116);
            }
            #licenserBoxBot {
                height: 169.3px;
                width:350px;
                position: absolute;
                top: 823px;
            }
        .aside {
            font-family:Calibri, 'Trebuchet MS', sans-serif
        }
        #asideh1 {
            text-align: center;
            margin-block-start: 5px;
            background-color: rgb(128, 139, 139);
            font-variant: small-caps;
            font-family: "Audiowide", sans-serif;
            font-weight:lighter;
            letter-spacing: 3px;
            
        }

    
    .infoBoxar {
        font-family: Calibri, 'Trebuchet MS', sans-serif
    }
        #presentationBox {
            height: 230px;
            width:603px;
            position:absolute;
            z-index:2;
            left: 353px;
            top: 266px;
            text-align: justify;
            padding: 25px;
        }
        #yrkesBox {
            height: 397px;
            width:603px;
            position:absolute;
            z-index:3;
            left: 353px;
            top: 546px;
            text-align: justify;
            padding: 25px;
        }
#bottomLine {
    height: 10px;
    width: 1006px; 
    border-top: ridge;
    border-color: rgb(0, 0, 0);
    background-color: rgb(31, 41, 41);
}
