body {
    margin: 0;
    padding: 0;
    background-color: rgba(96, 117, 103, 0.226);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
    main {
        width: 1006px;
        height: 1006px;
        background-color: rgb(175, 187, 187);
        border-style: ridge;
        border-color: rgb(0, 0, 0);
        position: relative;
        max-width: 1006px;
        max-height: 1006px;
    }
        header {
            height: 250px;
            width: 1006px;
            background-color: rgb(139, 161, 161);
            border-bottom:ridge;
            border-color: rgb(0, 0, 0);
        }       
        .namnBox {
            height: 175px;
            width:650px;
            position:absolute;
            z-index:2;
            left: 355px;
            top: 30px;
            font-variant: small-caps;
            font-family: "Audiowide", sans-serif;
        }
                #yrke {
                    font-size: 25px;
                    font-weight:lighter;
                    text-align: center;
                    letter-spacing: 10px;
                    margin-block-start: -40px;
                }
                #namn {
                    font-size: 50px;
                    font-weight: bolder;
                    letter-spacing: -2px;
                }
           
            img {
                margin-top: 6px;
                margin-left: 56px;
                border-radius: 50%;
                border:ridge;
                box-shadow: -10px 3px 25px -5px black;
                border-color: rgb(0, 0, 0);
            }
        #headerLine {
            height: 12px;
            width: 1006px;
            border-bottom:ridge; 
            border-color: rgb(0, 0, 0);
            background-color: rgb(31, 41, 41);
        }
        aside {
            height: 725px;
            width: 350px;
            background-color: rgb(105, 126, 126);
        }
            #kontaktInfoBoxTop {
                height: 40px;
                width: 350px;
                position: absolute;
                top: 263px;
                border-bottom: ridge;
                border-color: rgb(0, 0, 0);
                background-color: rgb(115, 117, 116);
            }
            #kontaktInfoBoxBot {    
                height: 218px;
                width: 348.7px;
                position: absolute;
                top: 302px;
                border-right:ridge;
                border-color: rgb(0, 0, 0);
                font-size: 25px;
                text-align: center;
                font-weight: lighter;
                letter-spacing: 5px;
                line-height: 25px;
                text-align: top;
            }
            #kontaktP1{
                margin-top: 15px;
            }
            #kik1 {
                font-size: 32px;
                margin-top: 5px;
            }
                #ikonerBox {
                    align-items: center;
                    position: absolute;
                    top:125px;
                    left: 350px;
                    color: black;
                    z-index: 4;
                }
                #ikon1 {
                    font-size: 15px;
                    color: black;
                    text-shadow: -3px 0px 12px black;
                }
                /*#ikon2 {
                    font-size: 15px;
                    color: black;
                    text-shadow: -5px 0px 15px black;
                }*/
                    /*#ikonBox1 {
                        position: absolute;
                        top: 0px;
                        left: 202px;
                    }
                    #ikonBox2 {
                        position: absolute;
                        top: 30px;
                        left: 235px;
                    }
                    #ikon2 {
                        font-size: 20px;
                        color: black;
                    }
                    #ikonBox3 {
                        position: absolute;
                        top: 70px;
                        left: 260px;
                    }
                    #ikon3 {
                        font-size: 20px;
                        color: black;
                    }*/
            #yh {
                margin-bottom: 0px;
                margin-top: 18px;
            }
            #utbildningBoxBot {
                height: 210.7px;
                width: 348.7px;
                position: absolute;
                top: 562px;
                z-index: 1;
                border-right:ridge;
                border-bottom: ridge;
                border-color: rgb(0, 0, 0);
                text-align: center;    
            }
            #licenserBoxTop {
                height: 40px;
                width: 350px;
                position: absolute;
                top: 774px;
                background-color: rgb(175, 187, 187);
            }
            #licenserBoxBot {
                height: 190px;
                width:348.7px;
                border-right:ridge;
                border-top:ridge;
                position: absolute;
                z-index: 1;
                border-color: rgb(0, 0, 0);
                top: 814px;
                text-align: center;
                font-weight: lighter;
                line-height: 40px;
            }
        .aside {
            font-family:
            Georgia, 'Times New Roman', Times, serif;
            font-weight: lighter;
        }
        #asideh1 {
            text-align: center;
            margin-block-start: 5px;
            background-color: rgb(175, 187, 187);
            font-variant: small-caps;
            font-family: "Audiowide", sans-serif;
            font-weight:lighter;
            letter-spacing: 3px;
            font-size: 24px;
        }
    #presentationBoxTop {
        height: 40px;
        width:1006px;
        position: absolute;
        top: 263px;
        text-align: center;
        border-bottom: ridge;
        border-color: rgb(0, 0, 0);
        background-color: rgb(139, 161, 161);
    }
    #presentationBoxBot {
            height: 165px;
            width:605px;
            position:absolute;
            left: 350px;
            top: 304px;
            text-align: center;
            margin-left: 25px;
            font-size: 16px;
            font-family:
            Georgia, 'Times New Roman', Times, serif;
    }
    #yrkesBoxTop{
        height: 40.3px;
        width:1006px;
        position: absolute;
        z-index: 1;
        top: 518.7px;
        text-align: center;
        border-bottom: ridge;
        border-top: ridge;
        border-color: rgb(0, 0, 0);
        background-color: rgb(139, 161, 161);
    }
    #yrkesBoxBot {
            height: 377px;
            width:603px;
            position:absolute;
            left: 353px;
            top: 566px;
            padding-left: 25px;
            padding-top: 10px;
            font-size: 15px;
            font-family:
            Georgia, 'Times New Roman', Times, serif;
            font-weight: lighter;
    }
    #presh1 {
        text-align: left;
        margin-block-start: 5px;
        background-color: rgb(139, 161, 161);
        font-variant: small-caps;
        font-family: "Audiowide", sans-serif;
        font-weight:lighter;
        letter-spacing: 3px;
        font-size: 24px;
        word-spacing: 250px;
        text-indent: 100px;
    }
    #presh12 {
        text-align: left;
        margin-block-start: 5px;
        background-color: rgb(139, 161, 161);
        font-variant: small-caps;
        font-family: "Audiowide", sans-serif;
        font-weight:lighter;
        letter-spacing: 3px;
        font-size: 24px;
        word-spacing: 250px;
        text-indent: 35px;
    }
    #presh13 {
        text-align: left;
        margin-block-start: -47px;
       
        font-variant: small-caps;
        font-family: "Audiowide", sans-serif;
        font-weight:lighter;
        letter-spacing: 3px;
        font-size: 24px;
        text-indent: 635px;
    }
#bottomLine {
    height: 10px;
    width: 1006px; 
    border-top: ridge;
    position: absolute;
    left: -353px;
    z-index: 1;
    top: 429px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(31, 41, 41);
}
